<a href="https://colab.research.google.com/github/gnbhub/gnb_2022_1_Ai_team1/blob/master/Week1/Pandas_hangjuneChoi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
print(pd.__version__)

1.3.5

In [ ]:
data1 = ['a', 'b', 'c', 'd', 'e']
print(data1)

['a', 'b', 'c', 'd', 'e']

In [ ]:
print("자료형:", type(data1))

자료형: <class 'list'>

In [ ]:
sr1=pd.Series(data1)
print("자료형:", type(sr1))

자료형: <class 'pandas.core.series.Series'>

In [ ]:
print(sr1)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [ ]:
sr1.loc[0]

'a'

In [ ]:
sr1.loc[1:3]

1    b
2    c
3    d
dtype: object

In [ ]:
data2 = (1, 2, 3.14, 100, -10)
sr2 = pd.Series(data2)
print(sr2)

0      1.00
1      2.00
2      3.14
3    100.00
4    -10.00
dtype: float64

In [ ]:
dict_data = {'c0':sr1, 'c1':sr2}
df1 = pd.DataFrame(dict_data)
df1

  c0      c1
0  a    1.00
1  b    2.00
2  c    3.14
3  d  100.00
4  e  -10.00

In [ ]:
type(df1)

pandas.core.frame.DataFrame

In [ ]:
df1.columns = ['String', 'number']
df1

  String  number
0      a    1.00
1      b    2.00
2      c    3.14
3      d  100.00
4      e  -10.00

In [ ]:
df1.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
df1.index = ['r0', 'r1', 'r2', 'r3', 'r4']
df1

   String  number
r0      a    1.00
r1      b    2.00
r2      c    3.14
r3      d  100.00
r4      e  -10.00

In [ ]:
df1.loc['r2', 'number']

3.14

In [ ]:
df1.loc['r2':'r3', 'string':'number']

Empty DataFrame
Columns: []
Index: [r2, r3]

In [ ]:
df1.loc['r2':'r3', 'number']

r2      3.14
r3    100.00
Name: number, dtype: float64

In [ ]:
df1.loc['r2', 'string':'number']

Series([], Name: r2, dtype: object)

In [ ]:
df1.loc[:,'String']

r0    a
r1    b
r2    c
r3    d
r4    e
Name: String, dtype: object

In [ ]:
df1.loc['r2':'r3', :]

   String  number
r2      c    3.14
r3      d  100.00

In [ ]:
df1

   String  number
r0      a    1.00
r1      b    2.00
r2      c    3.14
r3      d  100.00
r4      e  -10.00